<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="footer-links">
                    <ul class="footer-group">
                      {% for my_page in site.pages %}
                      {% if my_page.title %}
                      <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title}}</a></li>
                      {% endif %}
                      {% endfor %}
                      <li><a href="{{ site.url }}/docs">Documentation</a></li>
                    </ul>
                    <p>Copyright © 2017 <a href="{{ site.baseurl }}/">KMS</a><br>
                    <a href="https://github.com/webgradus/kms/blob/master/MIT-LICENSE">MIT License</a> | Crafted with <span class="fa fa-heart pulse2"></span> by <a href="http://webgradus.com" target="_blank">Gradus</a>.</p>
                </div>
            </div>
            <div class="social-share">
                <p>Github:</p>
                <!-- <a href="#" class="twitter-share"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook-share"><i class="fa fa-facebook"></i></a> -->
                <a href="https://github.com/webgradus/kms"><i class="fa fa-github fa-3x"></i></a>
            </div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="{{ "/js/retina.js" | prepend: site.url }}"></script>
<script src="{{ "/js/jquery.fancybox.pack.js" | prepend: site.url }}"></script>
<script src="{{ "/js/vendor/bootstrap.min.js" | prepend: site.url }}"></script>
<script src="{{ "/js/scripts.js" | prepend: site.url }}"></script>
<script src="{{ "/js/jquery.flexslider-min.js" | prepend: site.url }}"></script>
<script src="{{ "/js/classie.js" | prepend: site.url }}"></script>
<script src="{{ "/js/jquery.waypoints.min.js" | prepend: site.url }}"></script>
