<section class="hero">
    <section class="navigation">
        <header>
            <div class="header-content">
                <div class="logo">
                  <a href="{{ site.baseurl }}/">
                    <span>K<font style="color: white;">M</font>S</span>
                  </a>
                </div>
                <div class="header-nav">
                    <nav>
                        <ul class="primary-nav">
                          <li><a href="{{ site.url }}/about">About</a></li>
                          <li><a href="{{ site.url }}/docs">Documentation</a></li>
                        </ul>
                        <ul class="member-actions">
                            <li><a href="https://github.com/webgradus/kms" class="btn-white btn-small">Github</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="navicon">
                    <a class="nav-toggle" href="#"><span></span></a>
                </div>
            </div>
        </header>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="hero-content text-center">
                    <h1>Setup and code in your favorite browser</h1>
                    <p class="intro">Simple and powerful Ruby on Rails CMS for developers</p>
                    <a href="https://github.com/webgradus/kms/releases/latest" class="btn btn-fill btn-large btn-margin-right">Download</a> <a href="/about" class="btn btn-accent btn-large">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="down-arrow floating-arrow"><a href="#"><i class="fa fa-angle-down"></i></a></div>
</section>
